on System#Boot do
  timerSet,1,10
  //rele GPIO5
  //LED GPIO12
endon

on AutoMode do
  if %systime% < 23:00:00
    [LEDpin#value] = 1 // zap
  else 
    [LEDpin#value] = 0 // vyp
  endif
  if %systime% < 16:00:00
    [LEDpin#value] = 0 // vyp
  endif
  if %systime% < 6:30:00
    [LEDpin#value] = 1 // zap
  endif
  if %systime% < 4:30:00
    [LEDpin#value] = 0 // vyp
  endif
  
  gpio,5,[LEDpin#value]
endon

on Rules#Timer=1 do
  if %sysyear% > 2017
    event,AutoMode
  else
    [LEDpin#value] = 0 
    gpio,5,0 // vyp
  endif
  
  //SendToHTTP 192.168.0.52,8080,/json.htm?type=command&param=switchlight&idx=174&switchcmd=On
  timerSet,1,10
endon
